
div.login-sidebar {
    display: none;    
}

div.mobile { 
    width: 60%;  
    margin: auto auto 15% auto;
    display: block;
}

.mobile input {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5%;
}

.mobile button {
    font-size: 14px;
    border-radius: 5px;
    padding: 5px 10px;
}

.mobile button:hover {
    background-color:  #ac501d;
    color: #ece9ec;
}

@media screen and (min-width: 800px){

    div.login-sidebar {
        width: 70%;
        display: block;
        padding: 10%;
    }

    .login-sidebar input {
        border-radius: 5px;
        margin-bottom: 5%;
        width: 100%;
    }

    .login-sidebar button {
        font-size: 14px;
        border-radius: 5px;
        padding: 5px 10px;
    }

    .login-sidebar button:hover {
        background-color:  #ac501d;
        color: #ece9ec;
    }

    li.log-in, div.mobile {
        display: none;
    }    
}