.user-dashboard fieldset {
    min-width: 0;
    padding: 5%
}

.user-dashboard ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.user-dashboard h3 {
    color:#9f2c13;
    margin-bottom: 0;
    text-decoration: underline;
}

.user-dashboard h4 {
    margin-top: 0;
}

.user-dashboard button {
    font-size: 12px; 
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.user-dashboard button:hover {
    background-color:  #ac501d;
    color: #ece9ec;
}


