* {
    box-sizing: border-box
}

.app {
    display: grid;
    grid-template-areas: "header header header header" 
    "main main main main" "sidebar sidebar sidebar sidebar";
    grid-template-columns: 0px ; 
    min-height: 100px;
}

header {
    grid-area: header;
    text-align: center;
    padding: 20px;
    background-color: dimgray;
    font-size: 14px;
}

sidebar {
    grid-area: sidebar;
    background-color: lightgrey;    
    position: fixed;
    bottom: 0;
    width: 100%;
        
}

sidebar li {  
    margin: 0px 1%;   
    float: left;
    display: block;
    text-align: center;    
    text-decoration: none;
    font-size: 12px;   
    width: 15%;  
    margin-bottom: 10px;
}

main {
    grid-area: main;
}

footer {
    display: none;
}

form.login-form {
    display: none;
}

form {
    margin: 0% 15% 15% 15%;
}

h2, p {
    padding: 1% 5%;
}

input, label, button{
    margin-bottom: 10px;
}

input[type=text], input button {
    width: 100%;
    padding-right: 5%;
    display: inline-block;
}

li {
    text-decoration: none;
}

img {
    width: 100%;
    border-radius: 10px;
}

@media screen and (min-width: 800px){
    .app {
        grid-template-areas: "header header header header" 
        "sidebar main main main" "footer footer footer footer";
        grid-template-columns: auto auto;
        grid-template-rows: 100px 1fr;
        min-height: 500px;
    }

    
    sidebar {
        grid-area: sidebar;
        background-color: lightgrey;
        position: relative;
        width: 200px;
    }

    sidebar li {   
        float: none;
        text-align: left;    
        text-decoration: none;
        font-size: 14px;   
        width: 100%;  
    }
    
    main {
        grid-area: main;
    }
    
    footer {
        display: block;
        grid-area: footer;
        text-align: center;
        padding: 20px;
        background-color: dimgray;
    }

    img {
        max-width: 200px;    
        float: right;
    }

    form {
        margin: 5% 5% 15% 5%;
    }

    form.login-form {
        display: block;
    }

    li.log-in {
        display: none;
    }
}