* {
    box-sizing: border-box
}

.app {
    display: grid;
    grid-template-areas: "header header header header" 
    "main main main main" "sidebar sidebar sidebar sidebar";
    grid-template-columns: 0px ; 
    min-height: 100px;
}

header {
    grid-area: header;
    text-align: center;
    padding: 20px;
    background-color: dimgray;
    font-size: 14px;
}

main {
    grid-area: main;
    width: 100%;
    padding: 0 5% 10% 0;
}

nav {
    grid-area: sidebar;
    background-color: lightgrey;    
    position: fixed;
    bottom: 0;
    width: 100%;
        
}

nav li {  
    margin: 0px 1%;   
    float: left;
    display: block;
    text-align: center;    
    text-decoration: none;
    font-size: 12px;   
    width: 15%;  
    margin-bottom: 10px;
}

footer {
    display: none;
}

div.login-sidebar {
    display: none;
}

div.mainpage {
    display: block;
}

form {
    margin: 0% 15% 15% 15%;
}

h2, p {
    padding: 1% 5%;
}

input, label, button{
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding-right: 5%;
    display: inline-block;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

img {
    width: 100%;
    float: left;
    border-radius: 10px;
    margin-bottom: 5%;
}

.red {
    color: red;
}

@media screen and (min-width: 800px){
    .app {
        grid-template-areas: "header header header header" 
        "sidebar main main main" "footer footer footer footer";
        grid-template-columns: auto auto;
        grid-template-rows: 100px 1fr;
        min-height: 500px;
    }

    header {
        width: 100%;
        z-index: 1;
    }
    
    nav {
        grid-area: sidebar;
        position: fixed;       
        height: 100%;
        width: 200px;
        padding-top: 110px;
    }

    nav li {   
        float: none;
        text-align: left;    
        text-decoration: none;
        font-size: 14px;   
        width: 100%;  
    }
    
    main {
        grid-area: main;
        float: right;        
        max-width: 700px;
        min-height: 600px;
        margin: 0 200px 100px 200px;
    }
    
    footer {
        display: block;
        grid-area: footer;
        text-align: center;
        padding: 20px;
        background-color: dimgray;
        z-index: 1;
        width: 100%;
    }

    img {
        max-width: 200px;    
        float: right;
    }

    form {
        margin: 5% 5% 15% 5%;
    }


    div.login-sidebar {
        display: block;
    }

    li.log-in, div.mainpage {
        display: none;
    }
}

/*
Maybe color behind message text.

Fix URL overflow on mobile.

Nav is not centered on mobile.

Need to align filters better, add space between form buttons.

Not sized to screen on Mobile.

Extra left margin on Mobile.

Needs more margin on bottom on Mobile.

Style Nav links as buttons with hover effect.

Add Image/Logo and color theme of 2-3 colors. 

Style saved recipes more minimally than search recipes: omit summary, smaller image/text.

----
Hamburger menu for Nav?
*/