.recipe-search {
    padding-bottom: 300px;
}

.recipe-search ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.recipe-search button {
    border-radius: 5px;
    padding: 5px 10px;
}

.recipe-search button:hover {
    background-color:  #ac501d;
    color: #ece9ec;
}

.results {
    min-width: 0;
}

.desktop-filters {
    display: none;
}

form.recipe-filters {
    width: 100%;
    background-color: whitesmoke;
    opacity: 0.85;
    flex-direction: column;
    align-items: stretch;
}

.recipe-filters fieldset {
    width: 100%;
    padding: 1%;  
    margin: 2px;
}

.recipe-filters input[type=text], .recipe-filters select {
    margin: 6px 0;
    font-size: 12px;    
    width: 45%;
    float: right;
    border-radius: 5px;
}

.recipe-filters label {
    margin: 6px 0;
    width: 40%;
    float: left;
}

.recipe-filters button {
    float: left;
    font-size: 12px; 
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 15px;
}

.recipe-filters button:hover {
    background-color:  #ac501d;
    color: #ece9ec;
}

input[type=text]::placeholder {
    font-style: italic;
}

@media only screen and (min-width: 800px){
    .results {
        min-width: 0;
        width: 100%;
        padding: 2%;
        margin: 0; 
    }

    .mobile-filters {
        display: none;
    }

    .desktop-filters {
        display:block;
        width: 18%;
        margin: auto auto auto 1%;
        position: fixed;      
    }

    .recipe-filters {
        margin: 0% 2%;
        width: 60%;
        display: flex;
        flex-flow: row wrap;
        float: right;
        border-radius: 10px;
    }

    .recipe-filters fieldset {
        border-radius: 10px;
        padding: 0 10%;
    }

    .recipe-filters input[type=text], .recipe-filters select {
        font-size: 14px;
        width: 100%;
        margin-bottom: 1%;
    }

    .recipe-filters button {
        margin: 2%;
        font-size: 13px;
        float: left;
    }

    .recipe-filters label {
        margin: 0;
        width: 100%;
    }
}